body{
    background-color: lightgrey;
}
.first-container{
    
    background-image: url("images/image2.png");
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, 50%black , 50% white);
    margin-bottom: 0%;
    height: 350px;
  
}

.home{
    display: flex;
}

    nav {

        max-width: 960px;
        margin: 0 auto;
        padding: 10px 0;
        margin-right: 0%;
     }
  #navbar{
    float: right;
    
}
nav li{
    display: inline-block;
    list-style: none;
    
}
nav>ul>li>a {
    padding: 15px;
    margin-right: 0;
    text-decoration: none;
    display: block;

    }

    .first-container > .home >h5{color:#F19201
    }

    .premium{
        color: white;
        display: flex;
    }
    
  li>a:first-child{
        color: #F19201;
    }
    .second-container{
    
        text-align: center;
        justify-content: space-between;
        margin: 20px;
        margin-top: 0%;
        
    }
    #row{
        display: flex;
        justify-content: space-between;
        color: black;  

    }
    #one, #two, #three{
        border: 1px solid white;
        background-color: white;
        color: black;
        margin: 20px;
        align-items: center;
    }
    #one > h3{
        color: black;
        border: 1px solid #F19201;
        height: 20px;
        width: 20px;
        margin-left: 80px;
        background-color: #F19201;
        border-radius: 20px;
    }
    #two > h3{
        color: black;
        border: 1px solid #F19201;
        border: 1px solid #F19201;
        height: 20px;
        width: 20px;
        margin-left: 80px;
        background-color: #F19201;
        border-radius: 20px;
    }
    #three > h3{
        color: black;
        border: 1px solid #F19201;
        height: 20px;
        width: 20px;
        margin-left: 80px;
        background-color: #F19201;
        border-radius: 20px;
    }
    .third-container{
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        background: linear-gradient(90deg , white 50%,black 50%);
    }

    .third-container #left{
        width: 50%;
        margin-left: 0;
        margin-top: 0;
    }
    .third-container #right{
        width: 50%;

        color: white;
        height: 300px;
        margin-left: 0;
        margin-top: 0;
    }

    .fourth-container{
    
        text-align: center;
        justify-content: space-between;
        margin: 20px;
        margin-top: 0%;
    }
        
    
  